*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;

}

header{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.header1{
    position: absolute;
    top: 5rem;
    left: 32%;
    transform: translateX(-50px);
    font-size: 10rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.background{
    transform: translateZ(-40px) scale(5.5);
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.sec{
    background-color: rgba(45, 45, 45, 45);
    color: white;
    padding: 5rem;
}

.text{
    font-size: 22px;
}

.bg{
    position: relative;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.head{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 45px;
    opacity: 0.5;
    border-radius: 10px;
}
.b1{
    background-image: url(img/1.jpg);
    background-size: cover;

    
}
.b2{
    background-image: url(img/2.jpg);
    background-size: cover;
}
.b3{
    background-image: url(img/3.jpg);
    background-size: cover;
}

